<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model viewer</title>

    <script type="importmap">
        {
            "imports": {
                "three": "/three/build/three.module.js",
                "OrbitControls": "/three/examples/jsm/controls/OrbitControls.js",
                "STLLoader" : "/three/examples/jsm/loaders/STLLoader.js",
                "DragControls" : "/three/examples/jsm/controls/DragControls.js",
                "TransformControls" : "/three/examples/jsm/controls/TransformControls.js"
            }
        }
    </script>

</head>
<body>
<div id="stl-container"></div>

<script type="module" src="model_viewer.js">

</script>
</body>
</html>